{% extends 'pokepacks/base.html'%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        {% block body %}
        <div class="d-flex justify-content-center">
            <div class="home-container">
                <h1>Collection</h1>
                <form action="" method="GET">
                    {% csrf_token %}
                    <input type="search" name="pokemon_name" />
                    <button type="submit">Search</button>
                    {% for pokemon in object %}
                    <li>{{ pokemon.name }}</li>

                    {% endfor %}{% if object.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ object.previous_page_number }}"
                        >Previous</a
                    >
                    {% endif %} Page: {{ object.number }} of
                    {{object.paginator.num_pages}} {% if object.has_next %}
                    <a href="?page={{ object.next_page_number }}">Next</a>
                    <a href="?page={{ object.paginator.num_pages }}">Last</a>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
