body {
    background-color: rgb(251, 27, 27);
}
div.alert{
	margin: auto;
	width: 25%;
	border: 3px solid green;
	padding: 10px;
	margin-bottom: 20px;
}

.navbar {
    background-color:rgb(255, 255, 255) !important;
}

.navbar{
	border-bottom: 30px solid black;
	margin-bottom: 30px;
}

.fieldWrapper{
	margin:16px;
	display: flex;
}
.login-div{
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
}
.home-container{
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 16px;
	margin:16px;
}

.already-pulled{
	display: inline-flex;
	padding: 16px;
	margin:16px;
}

.put-right{
	display: grid;
	margin:16px;
}

.navbar-brand{
	color: rgb(255, 204, 0)!important;
	margin-right: 50px;
	margin-left:10px;
    font-weight: 800;
    text-shadow:
    -2px   -2px  rgb(0, 17, 190),
    -2px -1.5px rgb(0, 17, 190),
    -2px   -1px rgb(0, 17, 190),
    -2px -0.5px rgb(0, 17, 190),
    -2px    0px rgb(0, 17, 190),
    -2px  0.5px rgb(0, 17, 190),
    -2px    1px rgb(0, 17, 190),
    -2px  1.5px rgb(0, 17, 190),
    -2px    2px rgb(0, 17, 190),
    -1.5px  2px rgb(0, 17, 190),
    -1px    2px rgb(0, 17, 190),
    -0.5px  2px rgb(0, 17, 190),
    0px     2px rgb(0, 17, 190),
    0.5px   2px rgb(0, 17, 190),
    1px     2px rgb(0, 17, 190),
    1.5px   2px rgb(0, 17, 190),
    2px     2px rgb(0, 17, 190),
    2px   1.5px rgb(0, 17, 190),
    2px     1px rgb(0, 17, 190),
    2px   0.5px rgb(0, 17, 190),
    2px     0px rgb(0, 17, 190),
    2px  -0.5px rgb(0, 17, 190),
    2px    -1px rgb(0, 17, 190),
    2px  -1.5px rgb(0, 17, 190),
    2px    -2px rgb(0, 17, 190),
    1.5px  -2px rgb(0, 17, 190),
    1px    -2px rgb(0, 17, 190),
    0.5px  -2px rgb(0, 17, 190),
    0px    -2px rgb(0, 17, 190),
    -0.5px -2px rgb(0, 17, 190),
    -1px   -2px rgb(0, 17, 190),
    -1.5px -2px rgb(0, 17, 190);

}

.nav-link{
    color: rgb(255, 204, 0)!important;
    font-weight: 800;
    text-shadow:
    -2px   -2px  rgb(0, 17, 190),
    -2px -1.5px rgb(0, 17, 190),
    -2px   -1px rgb(0, 17, 190),
    -2px -0.5px rgb(0, 17, 190),
    -2px    0px rgb(0, 17, 190),
    -2px  0.5px rgb(0, 17, 190),
    -2px    1px rgb(0, 17, 190),
    -2px  1.5px rgb(0, 17, 190),
    -2px    2px rgb(0, 17, 190),
    -1.5px  2px rgb(0, 17, 190),
    -1px    2px rgb(0, 17, 190),
    -0.5px  2px rgb(0, 17, 190),
    0px     2px rgb(0, 17, 190),
    0.5px   2px rgb(0, 17, 190),
    1px     2px rgb(0, 17, 190),
    1.5px   2px rgb(0, 17, 190),
    2px     2px rgb(0, 17, 190),
    2px   1.5px rgb(0, 17, 190),
    2px     1px rgb(0, 17, 190),
    2px   0.5px rgb(0, 17, 190),
    2px     0px rgb(0, 17, 190),
    2px  -0.5px rgb(0, 17, 190),
    2px    -1px rgb(0, 17, 190),
    2px  -1.5px rgb(0, 17, 190),
    2px    -2px rgb(0, 17, 190),
    1.5px  -2px rgb(0, 17, 190),
    1px    -2px rgb(0, 17, 190),
    0.5px  -2px rgb(0, 17, 190),
    0px    -2px rgb(0, 17, 190),
    -0.5px -2px rgb(0, 17, 190),
    -1px   -2px rgb(0, 17, 190),
    -1.5px -2px rgb(0, 17, 190);

}
.signup-span{
	margin-top: 20px;
	margin-bottom: 16px;
	margin-left: 16px;
}

form {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
  }

.helptext{
	margin-bottom: 16px;
}
label{
	margin-bottom: 5px;
}

.open-container{
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 16px;
	margin:16px;
	width: 80%;
}

.card{
	padding: 16px;
	margin:16px;
	background-color:  rgba(255, 115, 16, 0.6);
	min-height: 200px;
	box-shadow: 3px 5px #505050;
}